$ let ships = ["Aretmis", "Hera"]
mission_data version="1.0"
    mission_description
        --
        Test
        Test
        test
        --
    start name=""
        for|ship| of=ships
            <if_variable name=`"${ship}"` value="value"/>
        <set_timer name="name" seconds="value"/>
        <set_variable name="name" value="value"/>
        <set_variable name="name" randomIntLow=5/>
        <set_variable name="TheVarible" randomIntLow="" />
        <if_timer name="name"/>
        <div class=input.myClassName/>

    event name="The Ancient One"
        <if_variable name="name" value="value"/>
        <set_variable name="name" value="value"/>
        <set_variable name="name" randomIntLow=5/>
        <set_variable name="TheVarible" randomIntLow=""/>
        incoming_comms_text type="Something" -- Text
        <if_timer name="name" />
        <if_variable name="name" value="value" />

        
            


        



        



