# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    tags:
    - '*'
 

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run pkg --if-present
    
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
          name: package
          path: build/aml.exe
    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v2
      with:
        name: aml-exe
        path: build/aml.exe
        retention-days: 5
    - name: GH Release
      # You may pin to the exact commit or the version.
      # uses: softprops/action-gh-release@b7e450da2a4b4cb4bfbae528f788167786cfcedf
      uses: softprops/action-gh-release@v0.1.5
      with:
        # Path to load note-worthy description of changes in release from
        body_path: release.md
        # Creates a draft release. Defaults to false
        draft: false
        # Identify the release as a prerelease. Defaults to false
        prerelease: true
        # Newline-delimited list of path globs for asset files to upload
        files: build/aml.exe
